body {
  background-image: url('../public/images/moon1.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
